@model CineplexCustomerWebsite.Models.Enquiry

@{
    ViewBag.Title = "Events";
}

<h2>Events</h2>

<hr />

<p>
    Here at Alhoma Cineplex Corp. we value what you, our customer, have to say.<br/>
    Feel free to send us an enquiry regarding any of our listed events or hosting your own event.
</p>
@using (Html.BeginForm())
{ 
    @Html.ValidationSummary(true)
        
    <h3>Email:</h3>
    @Html.TextBoxFor(e => e.Email, new { @class = "form-control" })
    <p style="color:red;">@Html.ValidationMessageFor(e => e.Email)</p>
        
    <h3>Enquiry:</h3>
    @Html.TextArea("Message", new { @class = "form-control", rows = 10, cols = 40 })
    <p style="color:red;">@Html.ValidationMessageFor(e => e.Message)</p>

    <button type="submit" class="btn btn-primary">Submit</button>

}

<br/>
<br/>

