@model CineplexCustomerWebsite.Models.Event

@{
    ViewBag.Title = "EventDetails";
}

<h2>Event Details</h2>

<div class="row">
    <div class="panel panel-default col-lg-6" style="float: left;">
        <div class="panel-heading">
            <h3 class="panel-title">@Html.DisplayFor(model => model.EventTitle)</h3>
        </div>

        <div class="panel-body">
            <ul style="list-style-type: none;">
                <li>
                    @Html.DisplayFor(model => model.LongDescription)
                </li>
                <li>
                    @Html.DisplayFor(model => model.Cineplex.Location)
                </li>
                <li>
                    @Html.DisplayFor(model => model.EventDay)
                </li>
                <li>
                    @Html.DisplayFor(model => model.EventTime)
                </li>
            </ul>
        </div>
    </div>

    <div class="col-lg-6">
        <img class="map" src="@Html.DisplayFor(model => model.Cineplex.ImageUrl)" />
    </div>

</div>

@Html.ActionLink("Back", "Events")
