@model CineplexCustomerWebsite.Models.Enquiry

@{
    ViewBag.Title = "Events";
}

<h2>Events</h2>

<hr />

<p>Here at ABC Corp. we value what you, our customer, has to say. Feel free to send us an enquiry regarding any of our listed events.</p>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
        
    <h3>Email:</h3>
    @Html.EditorFor(e => e.Email)
    <p style="color:red;">@Html.ValidationMessageFor(e => e.Email)</p>
        
    <h3>Enquiry:</h3>
    @Html.TextArea("Message", new { rows = 10, cols = 40 })
    <p style="color:red;">@Html.ValidationMessageFor(e => e.Message)</p>

    <button type="submit" class="btn btn-default">Submit</button>

}

    
