@model Assignment_2.Models.Enquiry

@{
    ViewBag.Title = "Create";
}

<h2>Enquiries</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <p>ABC Cinemplex Corp provides great value for lovers of cinema. We can host your special corporate event at one of our cimeplexes</p>
    <p>Please fill out the form below if you have any queries or would like more information about our corporate events.</p>
    <div class="form-horizontal">
        <h4>Enquiry Form</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
