@using CineplexCustomerWebsite.Models

@{
    ViewBag.Title = "BookingConfirmation";
}

<h2>BookingConfirmation</h2>

<h3>Your booking was confirmed!</h3>
<p>@ViewBag.seats seats were booked</p>
<p>Your card has been billed</p>
<span>Name: @ViewBag.name_on_card</span><br />
<span>Card Number: @ViewBag.card_number</span><br />
<span>Expiry Date: @ViewBag.expiry_date</span><br />
<span>CVC: @ViewBag.cvv</span><br />
