@model IEnumerable<CineplexCustomerWebsite.Models.SessionBooking>

@{
    ViewBag.Title = "ManageBookings";
}

<h2>Manage your Bookings</h2>

<br />

@using (Html.BeginForm("ManageBookings", "Booking", FormMethod.Post, new { @class = "form-inline" }))
{
    <p>
        Enter your Email: @Html.TextBox("EmailSearch", null, new { @class = "form-control", type = "email"})
        <input class="btn btn-primary" type="submit" value="Search" />
    </p>
}

@if (Model != null)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MovieSession.SessionDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieSession.CineplexMovie.Movie.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieSession.CineplexMovie.Cineplex.Location)
            </th>
            <th>
                Seats
            </th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var Booking in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Booking.MovieSession.SessionDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Booking.MovieSession.CineplexMovie.Movie.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Booking.MovieSession.CineplexMovie.Cineplex.Location)
                </td>
                <td>
                    @foreach (CineplexCustomerWebsite.Models.Seating Seating in Booking.Seating)
                    {
                        @Html.DisplayFor(modelItem => Seating.Row)
                        @Html.DisplayFor(modelItem => Seating.SeatNumber)
                        <br />
                    }
                </td>
                <td>
                    @using (Html.BeginForm("CancelBooking", "Booking", new { BookingID = Booking.BookingID } ))
                    {
                        <input type="submit" class="btn btn-danger" value="Cancel" />
                    }
                </td>
            </tr>
        }
    </table>
}


