@model Assignment_2.Models.Cineplex

@{
    ViewBag.Title = "Details";
}

<h2>Cineplex @Html.DisplayFor(model => model.Location)</h2>

<div class="row">
    <div class="col-lg-6">
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LongDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LongDescription)
        </dd>


    </dl>
</div>
    <div class="col-lg-6">
        <img src="@Html.DisplayFor(model => model.ImageUrl)">
    </div>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CineplexID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
